body {
  display: flex;
  flex-wrap: wrap;
}

body > div {
  margin: 10px;
}

.chessground {
  width: 500px;
  height: 500px;
}

cg-board {
  background-color: #bfcfdd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
